.main {
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    .input {
        border: 1px solid #ccc;
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
    }

    .submit {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        width: 100%;
        cursor: pointer;
    }

    .output {
        border: 1px solid #ccc;
        padding: 8px;
        width: 100%;
        min-height: 2rem;
        box-sizing: border-box;
    }
}
