.header {
    flex: 0 0 auto;

    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.root {
}

.branch {
}

.separator {
}

.separator-1 {
}

.separator-2 {
}
